.nftcard {
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
  border-radius: 10px;
  min-width: 250px;
  max-width: 250px;
  background-color: white;
  color: rgb(35, 36, 37);
  border-bottom: 1px solid rgba(51, 88, 100, 0.4);
  box-shadow: 0px 2px 3px 1px rgba(35, 36, 37, 0.08);

  .image {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(50, 50, 61);

    .title {
      font-size: 16px;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-bottom: 3px;
    }

    .sub-label {
      color: rgb(71, 71, 71);
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 8px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
